* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(Bg.jpg);
    background-size: 100%;
    background-position: center;
}

#nav {
    padding: 25px;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

ul a li {
    float: left;
    margin-left: 18px;
    font-size: 18px;
}